@model ProductVM

<div class="card shadow border-0 my-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class ="text-white py-2">@(Model.Products.Id!=0?"Update":"Create") Product</h2>
			</div>
		</div>
	</div>
	<div class=" card-body p-4">
	<form method="post" class="row" enctype="multipart/form-data">
		<input asp-for = "Products.Id" hidden/>
			<input asp-for = "Products.ImageUrl" hidden />
		<div class="row">
			<div class="col-10">
					<div class="border p-3">
			</div>
			<div class="col-2">

			</div>
			</div>
		
		<div class=" form-floating py-2 col-12">
		<label asp-for="Products.Title" class="p-0"></label>
		<input asp-for = "Products.Title" class="form-control" />
		<span asp-validation-for="Products.Title" class="text-danger"></span>
	</div>
		<div class=" form-floating py-2 col-12">
			<textarea asp-for="Products.Description" class="p-0"></textarea>
			<input asp-for="Products.Description" class="form-control" />
			<span asp-validation-for="Products.Description" class="text-danger"></span>
		</div>
		<div class=" form-floating py-2 col-12">
			<label asp-for="Products.ISBN" class="p-0"></label>
			<input asp-for="Products.ISBN" class="form-control" />
			<span asp-validation-for="Products.ISBN" class="text-danger"></span>
		</div>
		<div class=" form-floating py-2 col-12">
			<label asp-for="Products.Author" class="p-0"></label>
			<input asp-for="Products.Author" class="form-control" />
			<span asp-validation-for="Products.Author" class="text-danger"></span>
		</div>
		<div class=" form-floating py-2 col-12">
			<label asp-for="Products.ListPrice" class="p-0"></label>
			<input asp-for="Products.ListPrice" class="form-control" />
			<span asp-validation-for="Products.ListPrice" class="text-danger"></span>
		</div>
		<div class=" form-floating py-2 col-12">
			<label asp-for="Products.Price" class="p-0"></label>
			<input asp-for="Products.Price" class="form-control" />
			<span asp-validation-for="Products.Price" class="text-danger"></span>
		</div>
		<div class=" form-floating py-2 col-12">
			<label asp-for="Products.Price50" class="p-0"></label>
			<input asp-for="Products.Price50" class="form-control" />
			<span asp-validation-for="Products.Price50" class="text-danger"></span>
		</div>
				<div class=" form-floating py-2 col-12">
					<label asp-for="Products.Price100" class="p-0"></label>
					<input asp-for="Products.Price100" class="form-control" />
					<span asp-validation-for="Products.Price100" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<select asp-for="@Model.Products.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
						<option disabled selected>--Select Category--</option>
					</select>
					<label asp-for="Products.CategoryId" class="ms-2"></label>
					<span asp-validation-for="Products.CategoryId" class="text-danger"></span>
				</div>
	
		<div class=" form-floating py-2 col-12">
			<input type="file" name="file"  class="form-control border-0 shadow" multiple/>
			@* <input asp-for="Products.ImageUrl" class="form-control" /> *@
			<label asp-for="Products.ImageUrl" class="btn btn-primary form-control"></label>
		</div>
		<div class="row pt-2">
			<div class="col-6 col-md-3">
				@if(Model.Products.Id!=0 )
				{
					<button type="submit" class="btn btn-primary form-control">Update</button>
				}
				else{
					<button type="submit" class="btn btn-primary form-control">Create</button>
				}
			 
	        </div>

			<div class="col-6 col-md-3">
				<a asp-controller="Products" asp-action="Index" class="btn btn-secondary border form-control">
					Back To List
				</a>
			</div>
	
	</div>
	</div>
	<div class="col-2">
		<img src="@Model.Products.ImageUrl" width="100%"
		style="border-radius:5px; border:1px solid #bbb9b9"/>
	</div>

</form>
</div>
</div>

@section Scripts{

		<script>
			tinymce.init({
				selector: 'textarea',
				plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
				toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
			});
		</script>
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}